# Web Scraping
requests>=2.32.0            # For making HTTP requests
beautifulsoup4>=4.12.3      # For parsing HTML/XML

# Data Handling
pandas>=2.1.0,<2.3.0        # For data manipulation and analysis
numpy>=1.26.0               # For numerical operations, often with pandas

# Environment & Configuration Management
python-dotenv>=1.0.0        # For loading environment variables from .env files

# Visualization
matplotlib>=3.8.0           # For static, publication-quality visualizations
plotly>=5.18.0              # For interactive plotting (includes plotly.express)
geopandas>=0.14.0           # For geospatial data visualization

# Development & Notebook Environment
nbformat>=4.2.0             # Required by Plotly for rendering in notebooks

# Machine Learning
scikit-learn>=1.4.0,<2.0.0  # Avoids potential breaking changes when scikit-learn 2.0 releases
lightgbm>=4.3.0             # High-performance gradient boosting framework for classification
optuna>=3.6.0               # For hyperparameter optimization

pandas
plotly
matplotlib
folium
streamlit
streamlit-folium
scikit-learn
lightgbm
joblib


# Entity Relationship Diagrams
graphviz>=0.20.1

# Web Application Framework
streamlit>=1.35.0           # The core library for building the web app
